:global(.share-title){
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-top: 0;
}
:global(.share-buttons){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
}