:global(#btn-volta-ao-topo){
    background-image: url(./voltar.svg);
    background-color: #ECEAE6;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    padding: 0;
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    right: 20px;
}